.nav-bar {
    &-root {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 0px;
    }

    &-navigator {
        padding: 25px 0px;

        & a {
          color: #1c1c1c;
          text-decoration: none;
          padding: 10px 15px;
          margin: 0px 10px;
          transition: all .3s ease;
          
          &.active {
            background-color: #1c1c1c;
            color: #fff;
          }
        }
    }

    &-logo {
        width: 100%;
        text-align: center;
        
        & img {
          width: 300px;
        }
    }
}